<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Rabadon's Grimoire</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Link to CSS file --></head>
<body>
    <!-- Header Section -->
    <header>
        <h1>Rabadon's Grimoire</h1>
        <!-- Navigation Links -->
        <nav id="nav-links">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'download' %}">Download</a></li>
                Hi {{ user.username }}!
                <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="logout-button">Log Out</button>
                </form>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
        <!-- End of Navigation Links -->
    </header>
    <!-- End of Header Section -->

    <!-- Main Content -->
    <main>
        <!-- Contact Section -->
        <section id="contact">
            <h2>Contact Us</h2>
            <!-- Contact form or contact information goes here -->
            <p>For any inquiries or feedback, please reach out to us at: example@email.com</p>
        </section>
    </main>

    <!-- Under Construction Section -->
    <section id="under-construction">
        <h2>Under Construction</h2>
        <img src="{% static 'images/under-construction.jpg' %}" alt="Under Construction Image">
        <p>This page is currently under construction. Please check back later.</p>
    </section>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Rabadon's Grimoire. All rights reserved.</p>
    </footer>
</body>
</html>
