<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Rabadon's Grimoire</title>
    <link rel="icon" type="image/x-icon" href="images/webpage-icon.ico">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={{ timestamp }}"> <!-- Link to CSS file with timestamp -->
</head>
<body class="homepage-background">
    <!-- Header Section -->
    <header>
        <h1>Rabadon's Grimoire</h1>
        <!-- Navigation Links -->
        <nav id="nav-links">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About us</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'download' %}">Download</a></li>
                Hi {{ user.username }}!
                <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="logout-button">Log Out</button>
                </form>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
        <!-- End of Navigation Links -->
    </header>
    <!-- End of Header Section -->

    <!-- Main Content -->
    <main>
        <!-- About Section -->
        <section id="about">
            <h2>About Rabadon's Grimoire</h2>
            <p>Hello, fellow gamers! We are Rabadon’s Grimoire – not just a name, but a team dedicated to crafting a premium 
                overlay program made specifically for League of Legends enthusiasts. Our application offers RiotID users 
                comprehensive access to career and in-game stats alongside helpful suggestions. 
                Unlike other apps weighed down by unnecessary bloatware, Rabadon’s Grimoire is engineered to provide you with 
                real-time match stats, customizable builds, and strategic insights – all at your fingertips. Say goodbye to 
                distractions and hello to efficiency as you elevate your gameplay experience with just one click.
            </p>
            <p>&nbsp;</p>

            <h2>Our Commitment</h2>
            <p>At Rabadon’s Grimoire, we understand the importance of seamless gameplay. That's why our streamlined approach 
                ensures that our app never compromises your performance in-game. Say goodbye to interruptions and hello to a 
                smoother, more immersive gaming experience.</p>
            <p>&nbsp;</p>

            <p>Join us as we redefine what it means to be at the top of your game. Welcome to Rabadon’s Grimoire – where 
                efficiency meets excellence.</p>
            <p>&nbsp;</p>

            <h2>About our Team</h2>
            <p>Welcome to Rabadon’s Grimoire, brought to you by our team:</p>
            <p>&nbsp;</p>

            <p><span class="name">Michael Jung:</span></p>
            <p>
                Hello, this is Michael Jung. I'm a junior CS major at Emory University, 
                and I am from Seoul, South Korea. I really like playing RPG games, especially 
                Roguelikes, but I also enjoy playing League of Legends from time to time. 
                Being passionate about game development, I will try my best to contribute 
                my time and energy to this wonderful and challenging project so that you can 
                have a better gaming environment!
            </p>
            <p>&nbsp;</p>
            
            <p><span class="name">Hunter Grimes:</span></p>
            <p>
                Hello, my name is Hunter Grimes. I'm a senior graduating with a BS in CS 
                this spring. When I'm not doing schoolwork, I spend my time climbing up 
                the ranked ladder in League of Legends. My hope is to bring my hard-won 
                expertise in League of Legends to the average player through Rabadon's Grimoire. 
                We hope our time and passion for this project will pay off for each and every 
                one of you. See you on the rift!
            </p>
            <p>&nbsp;</p>
            
            <p><span class="name">Erik Tkachenko:</span></p>
            <p>
                Hi, I'm Erik Tkachenko. I am a junior at Emory University from St. Louis, MO, 
                and I am studying Computer Science. I love strategy games, including chess, 
                poker, and video games (but I am horrible at League). Games are my passion and 
                I am happy to be part of a project which makes improving and honing your skills 
                more accessible!
            </p>
            <p>&nbsp;</p>
            
            <p><span class="name">Tarun Hoskere:</span></p>
            <p>
                My name is Tarun Hoskere. I am currently studying Computer Science in my fourth 
                year at Emory University. As an avid video game player, I found interest in 
                Rabadon’s Grimoire. I am always looking for ways to improve my game skills. 
                Working on this project allowed me to dive deeper into an interesting game and 
                develop skills for my future career as a software engineer.
            </p>
            <p>&nbsp;</p>
            
            <p><span class="name">Fernando Nunez:</span></p>
            <p>
                I am Fernando Nunez. I come from Honduras and am in my fourth year as an Emory 
                Computer Science Major. I joined the team based on my recent interest in 
                multiplayer games since I can play them without any issues due to having access 
                to high-speed internet. I enjoy improving the way I play games to ensure a 
                better experience. Though I plan to focus careerwise on the Cybersecurity aspect 
                of Computer Science, I plan to continue working on games and game-related 
                projects as a hobby.
            </p>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Rabadon's Grimoire. All rights reserved.</p>
    </footer>
</body>
</html>
